[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/celo-foundry"]
	path = lib/celo-foundry
	url = https://github.com/bowd/celo-foundry
