# directories
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
**/cache
**/node_modules
**/out
.vscode
**/crytic-export

# files
*.env
*.log
.dcignore
.DS_Store
.pnp.*
.tool-versions
yarn-debug.log*
yarn-error.log*

# broadcasts
!/broadcast
/broadcast/Swap
/broadcast/*/31337/
/broadcast/**/dry-run/*
